In [1]:
import numpy as np
import pandas as pd

In [2]:
trueFile = "C:/Users/aayus/Desktop/FakeNewsPrediction/True.csv"
true = pd.read_csv(trueFile)

In [3]:
fakeFile = "C:/Users/aayus/Desktop/FakeNewsPrediction/Fake.csv"
fake = pd.read_csv(fakeFile)

In [4]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [6]:
true['label'] = 1

In [7]:
fake['label'] = 0

In [8]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [9]:
fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [10]:
news = pd.concat([fake, true], axis=0)

In [11]:
news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [12]:
news.tail()

,title,text,subject,date,label
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [13]:
news.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [14]:
news = news.drop(['title', 'subject', 'date'], axis=1)

In [15]:
news.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [16]:
# Reshuffling
news = news.sample(frac=1)

In [17]:
news.head()

                                                    text  label
20188  GENEVA (Reuters) - China signaled on Wednesday...      1
14861   Individual people can be bullied into submiss...      0
8796   Nobody has spent more of his political career ...      0
7017   Former Speaker of the House Dennis Hastert (R-...      0
10482   MEXICO CITY (Reuters) - Mexico’s president ha...      1

In [18]:
news.reset_index(inplace=True)

In [19]:
news.head()

   index                                               text  label
0  20188  GENEVA (Reuters) - China signaled on Wednesday...      1
1  14861   Individual people can be bullied into submiss...      0
2   8796  Nobody has spent more of his political career ...      0
3   7017  Former Speaker of the House Dennis Hastert (R-...      0
4  10482   MEXICO CITY (Reuters) - Mexico’s president ha...      1

In [20]:
news.drop(['index'], axis=1, inplace=True)

In [21]:
news.head()

                                                text  label
0  GENEVA (Reuters) - China signaled on Wednesday...      1
1   Individual people can be bullied into submiss...      0
2  Nobody has spent more of his political career ...      0
3  Former Speaker of the House Dennis Hastert (R-...      0
4   MEXICO CITY (Reuters) - Mexico’s president ha...      1

In [22]:
news.tail()

                                                    text  label
44893  In response to the Department of Justice s gui...      0
44894  President Trump condemned hate groups today AG...      0
44895  DAKAR (Reuters) - A dormant Senegalese rebel m...      1
44896   Graphic, uncensored and disturbing is how Jam...      0
44897  WASHINGTON (Reuters) - President Donald Trump ...      1

In [23]:
import re

In [24]:
def wordopt(text):
#     convert into lower case
    text = text.lower()
    
#     remove URLs
    text = re.sub(r'https?://\S+|www\.\S+','',text)
    
#     remove HTML tags
    text = re.sub(r'<.*?>', '', text)
    
#     remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    
#     remove digits
    text = re.sub(r'\d', '', text)
    
#     remove newline characters
    text = re.sub(r'\n', ' ', text)
    
    return text

In [25]:
news['text'] = news['text'].apply(wordopt)

In [26]:
news['text']

0        geneva reuters  china signaled on wednesday it...
1         individual people can be bullied into submiss...
2        nobody has spent more of his political career ...
3        former speaker of the house dennis hastert ril...
4         mexico city reuters  mexicos president has sa...
                               ...
44893    in response to the department of justice s gui...
44894    president trump condemned hate groups today ag...
44895    dakar reuters  a dormant senegalese rebel move...
44896     graphic uncensored and disturbing is how jame...
44897    washington reuters  president donald trump is ...
Name: text, Length: 44898, dtype: object

In [27]:
x = news['text']
y = news['label']

In [28]:
x

0        geneva reuters  china signaled on wednesday it...
1         individual people can be bullied into submiss...
2        nobody has spent more of his political career ...
3        former speaker of the house dennis hastert ril...
4         mexico city reuters  mexicos president has sa...
                               ...
44893    in response to the department of justice s gui...
44894    president trump condemned hate groups today ag...
44895    dakar reuters  a dormant senegalese rebel move...
44896     graphic uncensored and disturbing is how jame...
44897    washington reuters  president donald trump is ...
Name: text, Length: 44898, dtype: object

In [29]:
y

0        1
1        0
2        0
3        0
4        1
        ..
44893    0
44894    0
44895    1
44896    0
44897    1
Name: label, Length: 44898, dtype: int64

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [32]:
x_train.shape

(31428,)

In [33]:
x_test.shape

(13470,)

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [35]:
vectorization = TfidfVectorizer()

In [36]:
xv_train = vectorization.fit_transform(x_train)

In [37]:
xv_test = vectorization.transform(x_test)

In [38]:
xv_train

<31428x175222 sparse matrix of type '<class 'numpy.float64'>'
	with 6474496 stored elements in Compressed Sparse Row format>

In [39]:
xv_test

<13470x175222 sparse matrix of type '<class 'numpy.float64'>'
	with 2706802 stored elements in Compressed Sparse Row format>

In [40]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [41]:
LR = LogisticRegression()

In [42]:
LR.fit(xv_train, y_train)

LogisticRegression()

In [43]:
pred_lr = LR.predict(xv_test)

In [44]:
LR.score(xv_test, y_test)

0.9883444691907943

In [45]:
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      7140
           1       0.99      0.99      0.99      6330

    accuracy                           0.99     13470
   macro avg       0.99      0.99      0.99     13470
weighted avg       0.99      0.99      0.99     13470

In [46]:
from sklearn.tree import DecisionTreeClassifier

In [47]:
DTC = DecisionTreeClassifier()

In [48]:
DTC.fit(xv_train, y_train)

DecisionTreeClassifier()

In [49]:
pred_dtc = DTC.predict(xv_test)

In [50]:
DTC.score(xv_test, y_test)

0.9964365256124722

In [51]:
print(classification_report(y_test, pred_dtc))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      7140
           1       0.99      1.00      1.00      6330

    accuracy                           1.00     13470
   macro avg       1.00      1.00      1.00     13470
weighted avg       1.00      1.00      1.00     13470

In [52]:
from sklearn.ensemble import RandomForestClassifier

In [53]:
rfc = RandomForestClassifier()

In [54]:
rfc.fit(xv_train, y_train)

RandomForestClassifier()

In [55]:
predict_rfc = rfc.predict(xv_test)

In [56]:
rfc.score(xv_test, y_test)

0.9904231625835189

In [57]:
print(classification_report(y_test, predict_rfc))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      7140
           1       0.99      0.99      0.99      6330

    accuracy                           0.99     13470
   macro avg       0.99      0.99      0.99     13470
weighted avg       0.99      0.99      0.99     13470

In [58]:
# print(classification_report(y_test, pred_gbc))

In [59]:
def output_label(n):
    if n==0:
        return 'It is a Fake News'
    elif n==1:
        return 'It is a Genuine News'

In [60]:
def manual_testing(news):
    testing_news = {"text": [news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt)
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test) # Assuming 'vectorization' is your vectorizer object
    pred_Ir = LR.predict (new_xv_test)
    # pred_dtc = dtc.predict (new_v_test)
#     pred_gbc = gbc.predict(new_xv_test)
    pred_rfc = rfc.predict(new_xv_test)
    return print("\n\nLR Prediction: {} \nRFC Prediction: {}".format(output_label (pred_Ir[0]),
                                                                             output_label (pred_rfc[0])))

In [ ]:
try:
    while(True):
        print("\n\nPress q to quit.")
        news_article = str(input("Enter the news: "))
        if(news_article == 'q'):
            break
        else:
            manual_testing(news_article)
except:
    print('An error occured')

Press q to quit.